GEMINI_KEY=gemini-api-key
MORALIS_API_KEY=moralis-api-key
BIRD_EYE_API_KEY=bird-eye-api-key
UPSTASH_REDIS_REST_URL=upstash-redis-rest-url
UPSTASH_REDIS_REST_TOKEN=upstash-redis-rest-token
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
DATABASE_URL=console:postgres://username:password@host:port/database?sslmode=require
